.snakemake/*
pre-processed/*
builds/*
auspice/*
data/omicron.fasta
data/nextclade_dataset/*
data/filtered.fasta
data/gisaid.fasta
*.tar
data/metadata.tsv
data/metadata_omicron.tsv
deploy/*
data/metadata_raw.tsv